*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: #212427;
}

.container > * {
    border: 1px solid #4D4D4D;
}

.container {
    display: grid;
	grid-template-columns: 1fr 10fr;
	width: 100vw;
	height: 100vh;
	
	font-family: 'Quicksand', sans-serif;
	color: #CACACA;
}

.main {
    display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr 200px 2fr 2fr;
	padding: 43px 45px 47px 50px;
}

.aside {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: #282C31;
}

.nav {
	align-self: center;
	margin-bottom: 20px;
}

.logo {
	padding: 46px 24px 80px 23px;
}

.switch {
	position: relative;
	padding-top: 70px ;
	padding-bottom: 5px;
}

.spin {
	position: absolute;
	border: 4px solid #ffffff;
    background-color: #7F7FD5;
    height: 20px;
    border-radius:50%;
	width: 20px;
	
	top: 75px;
	right: 5px;

}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	grid-column: 1 / -1;
	margin-bottom: 55px;
}

header span {
	line-height: 36px;
	font-size: 30px;
	font-weight: bold;
}

.search {
	position: relative;
	width: 153px;
	height: 32px;
	margin-left: 45px;
	margin-right: 25px;
	border: 1px solid #4C4C4C;
	border-radius: 8px;
	background: #212427;
	padding-left: 38px;
}

.form-search {
	position: relative;
}

.search-pic {
	position: absolute;
	left: 60px;
	bottom: 10px;
}

::placeholder {
	font-family: 'Quicksand', sans-serif;
	color: #979797;
	font-size: 12px;
}

.notification {
	margin-left: 25px;
}

.username {
	font-style: normal;
    font-weight: 600;
    font-size: 20px;
	line-height: 24px;
	
	margin-left: 574px;
	margin-right: 11px;
}

.profile-photo {
	margin-right: 9px;
}

.function {
	margin-right: 59px;
}

.grid-cell {
	background: #282C31;
    border: 1px solid #4D4D4D;
	border-radius: 13px;
}

.info-block {
    display: flex;
    flex-direction: column;
	justify-content: space-between;	
}

.title {
	font-style: normal;
    font-weight: bold;
    font-size: 20px;
	line-height: 24px;
	
}

.amount {
	font-style: normal;
    font-weight: 500;
    font-size: 20px;
	line-height: 24px;
}

.percent {
	font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
	color: #979797;
}

.points {
	align-self: flex-end;
}

.friends {
	display: flex;
	grid-row: 2;
	grid-column: 1 / 5;
	margin-right: 32px;
	padding: 23px 33px 24px 24px;
	justify-content: space-between;
	margin-bottom: 32px;
}

.visitors {
	display: flex;
	grid-row: 2;
	grid-column: 5 / 9;
	margin-right: 32px;
	padding: 23px 33px 24px 24px;
	justify-content: space-between;
	margin-bottom: 32px;
}

.followers {
	display: flex;
	grid-row: 2;
	grid-column: 9 / 13;
	padding: 23px 33px 24px 24px;
	justify-content: space-between;
	margin-bottom: 32px;
}

.audience {
	display: flex;
    grid-column: 1 / 10;
	grid-row: 3;
	margin-right: 32px ;
	padding: 24px 22px 22px 24px;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 32px;
}

.schedule-audience, .info-audience {
	display: flex;
}

.schedule-audience {
    justify-content: center;
}

.info-audience {
	display: flex;
	justify-content: space-between;
	margin-bottom: 29px;
}

.date-of-audience-reach {
	display: flex;
	justify-content: space-between;
}

.characteristics-audience {
	margin-left: 41px;
	font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
	color: #CACACA;
	margin-right: 41px;
}

label {
	margin-left: 6px;
}

.total-checkbox {
	position: absolute;
    z-index: -1;
    opacity: 0;
}

.total-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.total-checkbox + label::before {
	content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #7F7FD5;
    border-radius: 5px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.total-checkbox:checked + label::before {
	border-color: #7F7FD5;
    background-color: #282C31;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");

}

.follow-checkbox {
	position: absolute;
    z-index: -1;
    opacity: 0;
}

.follow-checkbox + label {
	display: inline-flex;
    align-items: center;
    user-select: none;
}

.follow-checkbox + label::before {
	content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #E786D7;
    border-radius: 5px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.follow-checkbox:checked + label::before {
	border-color: #E786D7;;
    background-color: #282C31;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}



.options-audience {
	margin-left: 12px;
}

.device {
	grid-column: 10 / 13;
	grid-row: 3;
	margin-bottom: 32px;
	padding: 22px 10px 31px 23px;
	display: flex;
	flex-direction: column;
}

.reach-by-device {
	margin-bottom: 39px;
}

.characteristics-device {
	font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
	color: #CACACA;
	display: flex;
	flex-direction:column;	
    align-items:flex-end;
}

.desktop-device {
   margin-right: 24px;
}

.diagram-device {
	position: relative;
}

.piece-ellipse {
    position: absolute;
    top: 9px;
	right: -10px;
	left: 70px;
	bottom: -px;
}

.desktop-14, .mobile-86 {
	font-style: normal;
    font-weight: 600;
    font-size: 12px;
	line-height: 14px;
	color: #ffffff;
}

.desktop-14 {
	position: absolute;
	top: 25px;
	right: 15px;
}

.mobile-86 {
	position: absolute;
	left: -45px;
}

.charasteristics-diagram-device {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.gender {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	grid-column: 1 / 9;
	grid-row: 4;
	margin-right: 32px ;
	padding: 23px 40px 3px 24px;
}

.info-gender {
	display: flex;
	justify-content: space-between;
}

.characteristics-gender {
	font-style: normal;
    font-weight: 600;
    font-size: 12px;
	line-height: 14px;
	color: #CACACA;
}

.characteristics-gender {
	display: flex;
}

.men-gender {
	margin-left: 6px;
}

.women-gender {
	margin-left: 8px;
	margin-right: 12px;
}

.geo {
	grid-column: 9 / 13;
	grid-row: 4;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 23px 25px 30px 25px;
}

.info-geo {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}


.country {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
	line-height: 14px;
	color: #CACACA;
}

.city {
	margin-left: 5px;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: #979797;
}

.stat-geo {
	display: flex;
	justify-content: space-between;
	position: relative;
	align-items: flex-start;
}

.left-side-geo, .right-side-geo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

 .russia-geo, .ukraine-geo, .china-geo, .usa-geo {
	margin-bottom: 45px;
}

.geo-stat {
	position: relative;
}


.country-geo {
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: #CACACA;
}

.percent-country {
	display: flex;
	justify-content: space-between;
}

.percent-geo {
	font-style: normal;
    font-weight: 500;
    font-size: 12px;
	line-height: 14px;
	color: #979797;
}

.purple {
	position: absolute;
	top: 14px;
	background-color: #7F7FD5;
	border-radius: 6px;
}

.gray-strip {
	position: relative;
	height: 10px;
	width: 140px;
	background-color: #525050;
	border-radius: 5px;
}

.strip-russia {
	height: 10px;
	width: 128px;
}

.strip-ukraine-usa {
	height: 10px;
	width: 5px;
}

.strip-mongolia {
	height: 10px;
	width: 4px;
}

.strip-china {
	height: 10px;
	width: 13px;
}

.strip-other {
	height: 10px;
	width: 15px;
}




